.dashboard-main {
  font-size: 30px;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard-main p {
  font-size: 20px;
  padding: 0 20px;
}

.logout-button {
  background-color: black;
  color: white;
  border: 3px solid black;
  transition: background 1s linear, color 500ms linear;
  width: 160px; /* Adjusted for Navbar sizing */
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.logout-button:hover {
  background-color: white;
  color: black;
}
